@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

h1, h2{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}



.header {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

body {
    background-color: hsl(0, 0%, 98%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}


.container {
    max-width: 1440px;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: nowrap;
}

.supervisor {
    width: 27%;
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border-top-style: solid;
    border-width: 5px;
    border-color: hsl(180, 62%, 55%);
}

.container img {
    align-self: flex-end;
    margin-top: auto;
}

.middle-sec {
    width: 27%;
    height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.teambuilder {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border-top-style: solid;
    border-width: 5px;
    border-color: hsl(0, 78%, 62%);
}

.karma {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border-top-style: solid;
    border-width: 5px;
    border-color: hsl(34, 97%, 64%);
}


.calculator {
    width: 27%;
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border-top-style: solid;
    border-width: 5px;
    border-color: hsl(212, 86%, 64%);
}




@media all and (max-width: 414px) {
    .container {
        flex-direction: column;
    }

    body {
        gap: 16rem;
    }

    .container div {
        width: 100%;
        height: 100%;
    }

    .middle-sec {
        gap: 2rem;
    }
}